/* html, body{
  height: 100%;
  width: 100%;
} */
#root{
  width: 100%;
  height: 100%;
}
.App {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unauthorized{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width:100%;
  background-color: green;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  color: #000;
  /* font-size: 4em; */
}
/* #arg{
  font-size: 1em!important;
} */

.message{
  /* z-index: 1000; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message #arg{
  font-size: 1em;
}

#video-background {
    position: fixed;
    right: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    z-index: -1000;
  }
header.nav-comp{
  display: flex;
  width: 100%;
  margin: 0;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  align-items: center;
  justify-content: space-between;
  /* background-color: #0f9443; */
  /* padding: 1.25em; */
}

.profile.comp{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content{
  padding-top: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.links{
  display: flex;
}
 img {
   width: 200px;
 }
 /* .comp{
   margin-top: 80px;
 } */

/* form validation for inputs example:

<form>
    <div class="metersInputGroup">
        <label for="meters">Enter your height — meters:</label>
        <input id="meters" type="number" name="meters" step="0.01" min="0" placeholder="e.g. 1.78" required>
        <span class="validity"></span>
    </div>
    <div class="feetInputGroup" style="display: none;">
        <span>Enter your height — </span>
        <label for="feet">feet:</label>
        <input id="feet" type="number" name="feet" min="0" step="1">
        <span class="validity"></span>
        <label for="inches">inches:</label>
        <input id="inches" type="number" name="inches" min="0" max="11" step="1">
        <span class="validity"></span>
    </div>
    <div>
      <input type="button" class="meters" value="Enter height in feet and inches">
    </div>
    <div>
        <input type="submit" value="Submit form">
    </div>
</form>

div {
  margin-bottom: 10px;
  position: relative;
}

input[type="number"] {
  width: 100px;
}

input + span {
  padding-right: 30px;
}

input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
} */